<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
        <h2><%= user.name %></h2>
        <p>User name: <%= user.username %></p>
        <p>Email: <%= user.email %></p>
        <p>Phone: <%= user.phone %></p>
        <p>Address: <%= user.address?.city %></p>
        <p>Company: <%= user.compnay?.name %></p>

        <a href="/edit/<%= user.id %>">Edit user</a>
        <button data-id="<%= user.id %>" id="del-user">Delete user</button>
        
        <script>
            const delUser = document.getElementById("del-user")
            delUser.addEventListener("click",(e)=>{
                const id = e.target.dataset?.id || null
                if (id) {
                    fetch(`/user/${id}`, {
                        method: "DELETE"
                    }).then(()=>{
                        console.log("User deleted");
                        alert("User deleted")
                        setTimeout(()=>{
                            window.location.href = "/users"//qaysi saxifaga o'tish kerak bo'lsa foydalaniladi
                        }, 2000)
                    }).catch(()=>{
                        console.log("Userni o'chirishda xatolik");                       
                    })
                }
            })
        </script>
    </body>
</html>
